Repository imas/imasparql, pull requests merged in 2021-12, with the labels that each got.

#482 ポプマス追加実装アイドルの属性データ追加 2021/12
  RDFs/765MillionStars.rdf
  RDFs/CinderellaGirls.rdf
  RDFs/SideM.rdf
Labels: 追加するだけ, Brand: シンデレラガールズ, Brand: ミリオンライブ, Brand: SideM

#481 シャイニーカラーズの新衣装を追加
  RDFs/Clothes/ShinyColorsCommon.rdf
  RDFs/Clothes/ShinyColorsUnit.rdf
Labels: Brand: シャイニーカラーズ

#474 C.FIRSTのimas:IdolListURLを追加
  RDFs/SideM.rdf
Labels: Brand: SideM
