Repository imas/imasparql, pull requests merged in 2023-01, with the labels that each got.

#519 シャイニーカラーズの新衣装を追加
  RDFs/Clothes/ShinyColorsCommon.rdf
  RDFs/Clothes/ShinyColorsPersonal.rdf
  RDFs/Clothes/ShinyColorsUnit.rdf
Labels: Brand: シャイニーカラーズ

#521 鋭心の誕生日・星座を修正
  RDFs/SideM.rdf
Labels: Brand: SideM

#520 Twinkle LIVE Constellation Gradation出演メンバーのキャラカラーを追加
  RDFs/CinderellaGirls.rdf
Labels: Brand: シンデレラガールズ

#524 シャイニーカラーズの衣装を追加・修正
  RDFs/Clothes/ShinyColorsCommon.rdf
  RDFs/Clothes/ShinyColorsPersonal.rdf
  RDFs/Clothes/ShinyColorsUnit.rdf
Labels: Brand: シャイニーカラーズ
