Repository imas/imasparql, pull requests merged in 2023-05, with the labels that each got.

#536 千雪さんの星座を修正
  RDFs/283.rdf
Labels: Brand: シャイニーカラーズ

#527 add SideM PRS2023
  RDFs/Lives/Live_2023.rdf
Labels: Brand: シンデレラガールズ, Brand: SideM, Brand: シャイニーカラーズ

#534 シャニの新衣装を追加
  RDFs/Clothes/ShinyColorsCommon.rdf
  RDFs/Clothes/ShinyColorsPersonal.rdf
  RDFs/Clothes/ShinyColorsUnit.rdf
Labels: Brand: シャイニーカラーズ

#528 add million10th
  RDFs/Lives/Live_2023.rdf
Labels: Brand: シンデレラガールズ, Brand: ミリオンライブ, Brand: シャイニーカラーズ
