Repository imas/imasparql, pull requests merged in 2024-01, with the labels that each got.

#543 CoMETIKメンバー追加
  RDFs/283.rdf
  RDFs/Units/ShinyColors.rdf
Labels: 追加するだけ, Brand: シャイニーカラーズ

#546 シャイニーカラーズ (enza) の衣装を追加
  RDFs/Clothes/ShinyColorsCommon.rdf
  RDFs/Clothes/ShinyColorsPersonal.rdf
  RDFs/Clothes/ShinyColorsUnit.rdf
Labels: Brand: シャイニーカラーズ

#547 add ライラs,大石泉s,イヴ・サンタクロースs CV
  RDFs/CinderellaGirls.rdf
Labels: 追加するだけ, Brand: シンデレラガールズ

#548 fix: Sakuragi_Mano Midnight Monster description
  RDFs/Clothes/ShinyColorsCommon.rdf
Labels: データが間違っている, Brand: シャイニーカラーズ

#544 シャイニーカラーズの新衣装を追加
  RDFs/Clothes/ShinyColorsCommon.rdf
  RDFs/Clothes/ShinyColorsPersonal.rdf
  RDFs/Clothes/ShinyColorsUnit.rdf
Labels: Brand: シャイニーカラーズ

#549 シャイニーカラーズ (enza) の衣装を追加
  RDFs/Clothes/ShinyColorsCommon.rdf
  RDFs/Clothes/ShinyColorsUnit.rdf
Labels: Brand: シャイニーカラーズ
